.carousel-item{
    max-height: 80vh;
    overflow: hidden;
}
.carousel-item img{
    object-fit: cover;
    max-height: 80vh;
}
.carousel-caption{
    background: #000000bc;
    width: 100%;
    height: fit-content;
    left: 0px !important;
    bottom: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    backdrop-filter: blur(2px);
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: blueviolet;
    padding: 10px !important;
    opacity: 1 !important;
    border-radius: 5px;
}


@media(max-width:768px){
    .carousel-item{
        height: 80vh;
    }
    .carousel-item img{
       height: 80vh;
    }
}